@keyframes flow-change {
    from { opacity: 100%;}
    to { opacity: 0%;}
}

.portfolio{
    background-color: #c3cfe2;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    &__item {
        position: relative;
        height: 300px;
        width: fit-content;
        border-radius: 10px;
    }
    &__item img{
        position: absolute;
        height: 300px;
        z-index: 2;
    }
    &__item--button{
        position:absolute;
        height: 300px;
        width: 250px;
        border-radius: 10px;
        z-index: 1;
        background-color: darkslategray;
    }
    &__item--button button{
        position: absolute;
        width:100px;
        top: 50%;
        left: 75px;
    }
    &__item:hover{
        img{
             animation: flow-change 1s forwards;
        }
    }
}

/* Media Queries */
/* Tablet */
@media (max-width: 825px) {
    .portfolio{
        grid-template-columns: repeat(2, 1fr);
        &__item {
            height: 350px;
        }
        &__item img{
            height: 350px;
        }
        &__item--button{
            height: 350px;
            width: 285px;
        }
        &__item--button button{
            left: 95px;
        }
    }
}

/* Mobile */
@media (max-width: 650px) {
    .portfolio{
        grid-template-columns: 1fr;
        &__item {
            height: 400px;
        }
        &__item img{
            height: 400px;
        }
        &__item--button{
            height: 400px;
            width: 325px;
        }
        &__item--button button{
            left: 110px;
        }
    }
}